
//Media breakpoints
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$lgplus: 1299.98px;

//Colors
$white: #FFF;
$gray: #F9F7F7;
$green: #073B3A;
$orange: #FCC013;
$red: #FF3C38;
$dark: #3E4751;
$black: #000;

//Font weights
$bold: 800;
$semi_bold: 600;
$regular: 400;
$light: 300;
$extra_light: 200;

